.footer-overlay {
  text-align: left;
  font-style: italic;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    bottom: 0;
    width: 100%; /* Semi-transparent background */
    color: rgb(32, 31, 31);
    text-align: center;
    padding: 10px;
    z-index: 1000;
  }
  
  .footer-overlay a {
    color: #00aaff; /* Link color */
    text-decoration: none;
    margin-left: 10px;
  }
  
  .footer-overlay a:hover {
    text-decoration: underline;
  }
  